[submodule "Tests/Cases"]
	path = Tests/Cases
	url = https://github.com/uri-templates/uritemplate-test
[submodule "Tests/URITemplateTests/Cases"]
	path = Tests/URITemplateTests/Cases
	url = https://github.com/uri-templates/uritemplate-test
